<div class="card">
  <h3>My Books:</h3>

  <p-table [value]="dataSource" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="genre">
          Genre <p-sortIcon field="genre"></p-sortIcon>
        </th>
        <th pSortableColumn="author">
          Author <p-sortIcon field="author"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.genre }}</td>
        <td>{{ product.author }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
