<div class="card">
  <h3>My Books:</h3>

  <p-table [value]="dataSource">
    <ng-template pTemplate="header">
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Symbol</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.position }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.weight }}</td>
        <td>{{ product.symbol }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
